@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC");
body{
	font-family: Arial;
	font-weight:bold;
	margin:0px;
	 background-color: white;
	  overflow: hidden;
	  cursor: none;
}

#logo{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#txt {
   position: absolute;
   left: 600px;
   top: 0px;
  text-align:center;
  /*font-family: 'Bowlby One SC', cursive;*/
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  font-size:546px;
  color:white;

}			

