@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC");
body{
	font-family: Arial;
	font-weight:bold;
	margin:0px;
		overflow: hidden;
		cursor: none;
}

#logo{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#txt {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align:justify;
	font-family: 'Bowlby One SC', cursive;
	font-size:546px;
	color:yellow;
	background-color:yellow;
	
 
	
}			

